[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "<4.0,>=3.0"
pymongo = "<5.0,>=4.8"
python-dotenv = "<2.0,>=1.0"
flask-login = "<1.0,>=0.6"
pytest = "<9.0,>=8.0"

[dev-packages]

[requires]
python_version = "3.14"
