{% extends "base.html" %}
{% block title %}Add Internship{% endblock %}
{% block subtitle %}New Internship{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='internship.css') }}">
{% endblock %}

{% block content %}

<div class="section-title">Add Internship</div>

<div class="app-card">
  <form method="POST"
        action="{{ url_for('applications.create_submit') }}"
        class="internship-form">

    <div class="field">
      <input class="input" type="text" name="company" placeholder="Company Name" required>
    </div>

    <div class="field">
      <textarea class="textarea" name="title" placeholder="Job Title" required></textarea>
    </div>

    <div class="field">
      <textarea class="textarea" name="location" placeholder="Location"></textarea>
    </div>

    <div class="field">
      <textarea class="textarea" name="salary" placeholder="Salary Expectation"></textarea>
    </div>

    <div class="field">
      <textarea class="textarea" name="link" placeholder="Application Portal Link"></textarea>
    </div>

    <div class="field">
      <label>Work Model</label>
      <div class="radio-group">
        <label><input type="radio" name="work_model" value="remote"> Remote</label>
        <label><input type="radio" name="work_model" value="on_site"> On-site</label>
        <label><input type="radio" name="work_model" value="hybrid"> Hybrid</label>
      </div>
    </div>

    <div class="field">
      <label>Status</label>
      <div class="radio-group">
        <label><input type="radio" name="status" value="applied"> Applied</label>
        <label><input type="radio" name="status" value="not_applied" checked> Yet To Apply</label>
      </div>
    </div>

    <div class="field">
      <label>Interview Date | Application Deadline</label>
      <input class="date-input" type="date" name="deadline">
    </div>

    <div class="field">
      <textarea class="textarea" name="notes" placeholder="Personal Notes"></textarea>
    </div>

    <button type="submit" class="btn-app primary full">Save</button>
  </form>
</div>

{% endblock %}