{% extends "base.html" %}
{% block title %}Add Internship{% endblock %}
{% block subtitle %}New Internship{% endblock %}

{% block content %}

<div class="section-title">Add Internship</div>

<form method="POST" action="{{ url_for('create_post') }}">
    <input type="text" id="company" name="company" placeholder="Company"/>
    <br />
    <textarea type="text" id="role" name="role" placeholder="Role"></textarea>
    <br />
    <textarea type="text" id="location" name="location" placeholder="Location"></textarea>
    <br />
    <textarea type="text" id="salary" name="salary" placeholder="Salary Expectation"></textarea>
    <br />
    <textarea type="text" id="link" name="link" placeholder="Application Portal Link"></textarea>
    <br />
    <div>
        <input type="radio" id="workType1" name="type" value="remote" />
        <label for="workType1">Remote</label>

        <input type="radio" id="workType2" name="type" value="on_site" />
        <label for="workType2">On-site</label>
  
        <input type="radio" id="workType3" name="type" value="hybrid" />
        <label for="workType3">Hybrid</label>
    </div>
    <br />
    <input type="date" id="date" name="date">
    <br />
    <textarea type="text" id="notes" name="notes" placeholder="Personal Notes"></textarea>
    <br />
    <div>
        <input type="radio" id="applicationStatus1" name="status" value="applied" />
        <label for="applicationStatus1">Applied</label>

        <input type="radio" id="applicationStatus2" name="status" value="not_applied" />
        <label for="applicationStatus2">Yet To Apply</label>
    </div>
    <br />
    <input type="submit" value="Save" />
</form>


{% endblock %}