{% extends "base.html" %}
{% block title %}Apply{% endblock %}
{% block subtitle %}Yet to Apply{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='internships.css') }}">
{% endblock %}

{% block content %}

<div class="section-title">Yet to Apply</div>

{% if internships | selectattr('status', 'equalto', 'not_applied') | list %}
  <div class="list-stack">
    {% for internship in internships if internship.status == 'not_applied' %}
      <div class="app-card">
        <div class="item-row">
          <div class="item-main">
            <p class="item-title truncate">
              {{ internship.company_name }}
            </p>

            <p class="item-sub truncate">
              {{ internship.job_title }}
            </p>
          </div>
          <div>
            <span class="status-pill">{{ internship.deadline or 'Not specified'}}</span>
          </div>
        </div>

        <div class="card-actions">
          <a href="{{ url_for('applications.edit_form', application_id=internship._id) }}" 
          class="btn-app outline small">
          Edit
          </a>

          <form method="POST" action="{{ url_for('applications.delete', application_id=internship._id) }}">
            <button type="submit" class="btn-app danger small">
              Delete
            </button>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <div class="app-card empty-card">
    <p class="text-muted-app">No internships yet.</p>
    <a href="{{ url_for('applications.create_form') }}" class="btn-app primary small">Add Internship</a>
  </div>
{% endif %}

{% endblock %}