{% extends "base.html" %}
{% block title %}Edit Internship{% endblock %}
{% block subtitle %}Edit Internship{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='internships.css') }}">
{% endblock %}

{% block content %}

<div class="section-title">Edit Internship</div>

<div class="app-card">

<form method="POST"
      action="{{ url_for('applications.edit_submit', application_id=internship._id) }}"
      class="internship-form">

  <div class="field">
    <label>Company</label>
    <input class="input"
           type="text"
           name="company"
           value="{{ internship.company }}"
           required>
  </div>

  <div class="field">
    <label>Job Title</label>
    <textarea class="textarea"
              name="title"
              required>{{ internship.title }}</textarea>
  </div>

  <div class="field">
    <label>Location</label>
    <textarea class="textarea"
              name="location">{{ internship.location }}</textarea>
  </div>

  <div class="field">
    <label>Salary Expectation</label>
    <textarea class="textarea"
              name="salary">{{ internship.salary }}</textarea>
  </div>

  <div class="field">
    <label>Application Link</label>
    <textarea class="textarea"
              name="link">{{ internship.link }}</textarea>
  </div>

  <div class="field">
    <label>Work Model</label>
    <div class="radio-group">
      <label>
        <input type="radio" name="work_model" value="remote"
          {% if internship.work_model == "remote" %}checked{% endif %}>
        Remote
      </label>

      <label>
        <input type="radio" name="work_model" value="on_site"
          {% if internship.work_model == "on_site" %}checked{% endif %}>
        On-site
      </label>

      <label>
        <input type="radio" name="work_model" value="hybrid"
          {% if internship.work_model == "hybrid" %}checked{% endif %}>
        Hybrid
      </label>
    </div>
  </div>

  <div class="field">
    <label>Deadline</label>
    <input class="date-input"
           type="date"
           name="deadline"
           value="{{ internship.deadline }}">
  </div>

  <div class="field">
    <label>Personal Notes</label>
    <textarea class="textarea"
              name="notes">{{ internship.notes }}</textarea>
  </div>

  <div class="field">
    <label>Status</label>
    <div class="radio-group">
      <label>
        <input type="radio" name="status" value="applied"
          {% if internship.status == "applied" %}checked{% endif %}>
        Applied
      </label>

      <label>
        <input type="radio" name="status" value="not_applied"
          {% if internship.status == "not_applied" %}checked{% endif %}>
        Yet To Apply
      </label>
    </div>
  </div>

  <button type="submit" class="btn-app primary full">
    Save Changes
  </button>

</form>

</div>

{% endblock %}