{% extends "base.html" %}

{% block title %}Create Account{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}

{% block content %}
<div class="auth-wrap">
  <div class="auth-title">Create Account</div>

  <div class="auth-card">
    <form class="auth-form" method="POST" action="{{ url_for('auth_profile.register_submit') }}">

      <div class="auth-field">
        <label>Email</label>
        <input class="auth-input"
          type="email"
          name="email"
          class="form-control"
          placeholder="you@nyu.edu"
          required
        />
      </div>

      <div class="auth-field">
        <label>Password</label>
        <input class="auth-input"
          type="password"
          name="password"
          class="form-control"
          placeholder="Create a password"
          required
        />
      </div>

      <div class="auth-field">
        <label>Confirm Password</label>
        <input class="auth-input"
          type="password"
          name="confirm_password"
          class="form-control"
          placeholder="Confirm password"
          required
        />
      </div>

      <button  class="auth-btn primary full" type="submit">
        Create Account
      </button>
    </form>

      <div class="auth-foot">
        Already have an account?
        <a href="{{ url_for('auth_profile.login') }}">
          Sign in
        </a>
      </div>
  </div>
</div>
{% endblock %}